body{
    color: white;
    background-color: pink;
}
h3{
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color: yellowgreen;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.name_of_objects{
    color: yellow;
}